[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json
[submodule "external/sdl_image"]
	path = external/sdl_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
