*.bmp filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.tiled-project filter=lfs diff=lfs merge=lfs -text
*.tiled-session filter=lfs diff=lfs merge=lfs -text
*.tmj filter=lfs diff=lfs merge=lfs -text
*.tmx filter=lfs diff=lfs merge=lfs -text
